<%# タイトル %>
<div class="jumbotron jumbotron-fluid title">
  <div class="container">
    <h1 class="display-4">最速をマネしよう</h1>
    <p>Development Life</p>
  </div>
</div>

<%# コンテンツ1 %>
<div class="service-list">
  <h2>Learn more</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "study.jpg", class:"image-study"%>
      </div>
      <div class="col-md-6">
        <h3>学習ロードマップ</h3>
        <hr color="white">
        <p class="content-text">AWS,Ruby,Java,WordPress、RaiseTechを卒業した人達の各コースの最短ルート&最新情報を見ることができます。</p>
        <p class="content-text">卒業生を参考にし、楽しみながら効率よく学んでいきましょう。</p>
        <button type="button" class="btn btn-primary">詳細</button>
      </div>
    </div>
  </div>
</div>

<%# コンテンツ2 %>
<div class="service-list">
  <h2>Change of Job</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>転職</h3>
        <hr color="white">
        <p class="content-text">RaiseTechを卒業し、どういった会社に転職したかなど、知ることができます。</p>
        <p class="content-text">卒業生を参考にしてあなたが働きたい会社のイメージを明確にしていきましょう。</p>
        <button type="button" class="btn btn-primary">詳細</button>
      </div>
      <div class="col-md-6">
        <%= image_tag "programming-job.jpg", class:"image-study"%>
      </div>
    </div>
  </div>
</div>

<%# コンテンツ3 %>
<div class="service-list">
  <h2>Movie Lesson</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "freelance-work.jpg", class:"image-study"%>
      </div>
      <div class="col-md-6">
        <h3>動画講座</h3>
        <hr color="white">
        <p class="content-text">動画の学習で「作る」感覚を掴めます。</p>
        <p class="content-text">まずは動くものを作り、感覚を掴んでいきましょう。</p>
        <button type="button" class="btn btn-primary">詳細</button>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <ul>
            <li class="sub-title">＜学習ロードマップ＞</li>
            <li><a href="">AWS</a></li>
            <li><a href="">Ruby</a></li>
            <li><a href="">Java</a></li>
            <li><a href="">WordPress</a></li>
          </ul>
      </div>
      <div class="col-md-4">
          <ul>
            <li class="sub-title">＜仕事＞</li>
            <li><a href="">転職</a></li>
            <li><a href="">面接</a></li>
          </ul>
      </div>
      <div class="col-md-4">
        <ul>
            <li>＜動画講座＞</li>
            <li><a href="">AWS</a></li>
            <li><a href="">Ruby</a></li>
            <li><a href="">Java</a></li>
            <li><a href="">WordPress</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


